In this notebook be will analyse the data on numerial bases not on graphical basis and will build some functions to transform the data into ml alogorithm feedable data

In [3]:
import os
import pandas as pd
import numpy

In [4]:
#load data that is previously saved 
df = pd.read_csv('../../filtered_data_file/2000_main_data.csv')

In [5]:
df.head()

,Month,Day,Hour,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Snow Depth,Wind Direction,Wind Speed
0,1,1,0,0,0,0,0,0,0,9,13.458724,956.189819,76.245062,177.499788,1.337114,0.0,258.815887,1.567081
1,1,1,1,0,0,0,0,0,0,8,12.828531,955.790161,75.247676,168.081937,1.233515,0.0,283.807678,1.950266
2,1,1,2,0,0,0,0,0,0,8,12.064888,955.524170,76.722101,154.463655,1.106979,0.0,303.333099,2.246660
3,1,1,3,0,0,0,0,0,0,6,11.354479,955.355286,73.092476,140.880616,0.978358,0.0,318.454651,2.519935
4,1,1,4,0,0,0,0,0,0,5,10.773699,955.678101,68.031955,127.417375,0.857442,0.0,329.958649,2.680500

Datasets generally contains missing values or nan value, Our machine learning algorithms generally fails when they encounters the non numerical value<br>
So, we have to fix the nan or missing values first<br>
**There are three methods to get ride of nan vakues**
* Get rid of the corresponding districts.
* Get rid of the whole attribute.
* Set the values to some value (zero, the mean, the median, etc.)
<br>
<u>ref:<span style="color:blue">O'reilly's Hands-on-Machine-Learning-with-Scikit-2E</span></u>

In [ ]:
#In data_preprocessing1,ipynb file we have applied a function describe on our dataframe which return not-null for all columns, 
# which implies that data that I have does not have any nan value all are real numbers
# If your data has nan value or missing value uncomment these lines and run code

#there are